button {
    margin: 0 30px;
}

.button_container {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 600px;
}

.selection_container {
    display: flex;
    justify-content: center;
    margin: 30px 75px;
    width: 600px;
}

.selection_container p {
    margin: 0 40px;
}

.display_container {
    display: flex;
    justify-content: center;
    margin: 30px 75px;
    width: 600px;
}

.display_container div {
    margin: 0 40px;
}

.display_container h4 {
    margin: 0 30px;
}

#feedback {
    text-align: center;
}

#user {
    text-align: center;
}

#cpu {
    text-align: center;
}

#endResult {
    color: green;
}